mixin button(props = {})
  -
    var DEFAULTS = {
      type: 'primary',
      size: '',
      disabled: false
    }

    props = Object.assign({}, DEFAULTS, props);

  button(
    type="button" 
    class=`bx--btn bx--btn--${props.type} bx--btn--${props.size}`
    disabled=props.disabled
  ): block