include /core.pug
include /ui/button.pug

+page
  .pb-sm
    +button Click Me

  .pb-sm
    +button({ color: 'info' }) Click Me

  .pb-sm
    +button({ color: 'danger' }) Click Me

  .pb-sm
    +button({ color: 'warning' }) Click Me

  .pb-sm
    +button({ color: 'success' }) Click Me

  .pb-sm
    +button({ color: 'base' }) Click Me

  .pb-sm
    +button({ type: 'hollow' }) Click Me

  .pb-sm
    +button({ type: 'hollow', color: 'info' }) Click Me
  
  .pb-sm
    +button({ type: 'hollow', color: 'danger' }) Click Me

  .pb-sm
    +button({ type: 'hollow', color: 'warning' }) Click Me

  .pb-sm
    +button({ type: 'hollow', color: 'success' }) Click Me

  .pb-sm
    +button({ type: 'hollow', color: 'base' }) Click Me

