include /core.pug
include /ui/button.pug

+page
  .l-stack-m.l-flex-top
    +button Click Me

    +button({ type: 'secondary' }) Click Me

    +button({ type: 'tertiary' }) Click Me

    +button({ type: 'ghost' }) Click Me

    +button({ type: 'danger' }) Click Me

    +button({ size: 'sm' }) Click Me

    +button({ disabled: true }) Click Me