include /core.pug

+page
  .bg-brand-xxs.w-xxl.h-xxl.rounded.sm_bg-brand-xs.md_bg-brand-sm.lg_bg-brand.xl_bg-brand-lg

  .text-brand.rounded.border.p-md.mt-md Hello
  
  .text-info.rounded.border.p-md.mt-md Hello world and liitell more

  .rounded.bg-info-xxs.p-md.mt-md Lorem ipsum doldsfsdor sit amet consectetur, adipisicing elit. Sunt ipsum animi modi voluptates esse, sit distinctio, voluptas eligendi at repellendus consectetur, adipisci corporis ex quia cumque vitae quae quam ipsa ad pariatur suscipit. Aliquam accusantium reprehenderit nihil ex dolor eligendi sint repellendus corporis sunt vero non numquam nisi qui quae, unde in adipisci. Magni dolorem blanditiis in quod, autem aperiam delectus laboriosam modi adipisci at. Voluptatum, iusto alias. Dolor reiciendis excepturi animi, cupiditate ea dolorem ipsum ut amet fugiat obcaecati. Ipsa enim vel itaque veritatis qui! Expedita cum temporibus labore! Illo natus vel laudantium, exercitationem corrupti molestiae dolore cumque aliquam!
